//  Scss Buttons

.btn {
    text-align: center;
    width: 14rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 2rem;

    &.btn__primary {
        color: white;
        background-color: $mustard;
        border: 0.2rem solid $mustard;

        &:hover {
            opacity: 0.8;
        }
    }
    
    &.btn__primaryblue {
        color: white;
        background-color: $dark-blue;
        border: 0.2rem solid $dark-blue;

        &:hover {
            opacity: 0.8;
        }
    }
    
    &.btn__secondary {
        background-color: white;
        color: $dark-blue;
        border: 0.2rem solid $dark-blue;

        &:hover {
            color: white;
            background-color: $dark-blue;
        }
    }
}