//  Scss Header

.header {
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: black solid 1px;


    &.header__regular { 
        border-bottom: black solid 1px;
        display: flex;
        justify-content: flex-start;
    }


    &.header__filter {
        border-bottom: white solid 1px;
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (min-width: 80rem) {
    .search-form {
        max-width: 30rem;
        margin: 0 auto;
    }

    .search__label {
        &:before {
            content: none;
        }
    }
}

