.information {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;

    li {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    // .centered {
    //     margin: auto;
    // }
}