<a href="./build/index.html" class="list--item">
{%- for item in name -%}
<div>
    <span class="list--content"> 
        {{name}}
        
    </span>
</div>
{%- endfor -%}
<div>
    <svg class="list--icon" xmlns="http://www.w3.org/2000/svg" width="26.002" height="22.878" viewBox="0 0 26.002 22.878">
  <g id="heart_icon" data-name="heart icon" transform="translate(0.501 0.503)">
    <path id="Icon_awesome-heart" data-name="Icon awesome-heart" d="M22.573,3.743a6.677,6.677,0,0,0-9.111.664L12.5,5.4l-.962-.991a6.677,6.677,0,0,0-9.111-.664,7.011,7.011,0,0,0-.483,10.151l9.448,9.756a1.531,1.531,0,0,0,2.212,0l9.448-9.756a7.007,7.007,0,0,0-.479-10.151Z" transform="translate(0.001 -2.248)" fill="none" stroke="#f6f6f5" stroke-width="1"/>
  </g>
</svg>

</div>
</a>