---
title: level
level: ['beginner', 'intermediate', 'advanced', 'extreme']
---

{% extends "components/header--list.njk" %}

<body class="background--darkblue">
{% block header %}
        <section>
            {% include "components/header--list.njk" %}
        </section>
{% endblock %}

{% block main %}
    <button class="btn btn__secondary">
    </button>
{% endblock %}

</body>