---
title: level
level: ['beginner', 'intermediate', 'advanced', 'extreme']
---
{% block body %}
    {% block header %}
        <section>
            {% include "components/header--filter.njk" %}
        </section>
    {% endblock %}
    {% block main %}

            <button class="btn btn__secondary">

        {% for item in level %}
        {{ item }}
        {% endfor %}

    </button>
    {% endblock %}
{% endblock %}