---
title: trick list

---

{% block header %}
        <section>
            {% include "components/header--list.njk" %}
        </section>
{% endblock %}

{% block main %}

{# zoekbalk

list item #}

{% endblock %}