---
title: trick list

---
<body  class="background--darkblue">
    

{% block header %}

{# zoekbalk #}

        <section>
            {% include "components/header__list.njk" %}
        </section>
{% endblock %}

{% block main %}

{% extends "components/list--item.njk" %}

{% endblock %}

</body>
