---
title: login
---

<img src="./src/assets/images/skaterboy.png" alt="skaterboy">

<section class="loginform">
    <h1>{{ title }}</h1>

    <label><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username">

    <label><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password">

    <a href="./build/trick.html"><button class="btn btn_primary">log in</button></a>
</section>

