---
title: places
places: ['flat', 'ramp', 'slide', 'grab', 'grind']
---

{% block body %}
    {% block header %}
        <section>
            {% include "components/header--filter.njk" %}
        </section>
    {% endblock %}
    {% block main %}

            <button class="btn btn__secondary">

        {% for item in places %}
        {{ item }}
        {% endfor %}

    </button>
    {% endblock %}
{% endblock %}