---
title: places
places: ['flat', 'ramp', 'slide', 'grab', 'grind']
---
<body class="background--darkblue">

{% block header %}

        <section>
            {% include "components/header--list.njk" %}
        </section>
        
{% endblock %}

{% block main %}

    <button class="btn btn__secondary">
    </button>

{% endblock %}

</body>