---
title: tricks
filter: ['level', 'place']
level: level
place: place
---




{% extends "layouts/default.njk" %}
{% block main %}
<section>
<div>
    <h2>succeed trick</h2>

</div>
<div>
    <h2>favorieten</h2>
</div>
</section>
<section>
    <a href="./build/level.hmtl">
        <button class="btn btn__secondary">
            {{ level }}
        </button>
    </a>
    <a href="./build/places.hmtl">
        <button class="btn btn__secondary">
            {{ place }}
        </button>
    </a>
    <a href="./build/list.hmtl">
        <button class="btn btn__primaryblue">
            new trick
        </button>
    </a>
</section>

{% endblock %}