---
title: tricks
---




{% extends "layouts/default.njk" %}
{% block main %}
<section>
<div>
    <h2>succeed trick</h2>
</div>
<div>
    <h2>favorieten</h2>
</div>
</section>
<section>
    <button class="btn btn__secondary">
        level
    </button>
    <button class="btn btn__secondary">
        place
    </button>
    <button class="btn btn__primaryblue">
        new trick
    </button>
</section>

{% endblock %}