---
title: video 
---

{% extends "layouts/default.njk" %}

{% block main %}
<h2>koppen een video aan je trick!</h2>

<div class="uploadzone">
    <p>sleep bestand hier naartoe of blader</p>
</div>

<button class="btn btn__primary">
        save
    </button>


{% endblock %}