---
title: video 
---

{% extends "layouts/default.njk" %}

{% block main %}
<h2>koppel een video aan je trick!</h2>

{% extends "components/uploadzone.njk" %}

<a href="./dist/trick.html">
    <button class="btn btn__primary">
        save
    </button>
</a>


{% endblock %}

